{% extends "bases/baseloja.html" %}
{% load static %}

<!--{% static 'loja/css/styles.css' %}-->

{% block 'titulo' %}
<title>4R | Compra Realizada</title>
{% endblock 'titulo' %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'loja/css/confirmar_compra.css' %}">
{% endblock 'head' %}

{% block 'conteudo' %}

<body>
    <header>
        <nav id="navbar">
            <a href="{% url 'homepage' %}"><img id="nav-logo" src="{% static 'loja/img/Logo.png' %}" width="64"
                    alt="Imagem da logo"></a>

            <div id="user-moedas">
                <b>4R$ {{ moedas_atualizadas|floatformat:2 }}</b>
            </div>

            <div id="user-info">
                <a class="btn-default" href="{% url 'sair' %}">Sair</a>
            </div>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item">
                    <a href="#menu">Categorias</a>
                </li>
            </ul>

            <button class="btn-default">Retire aqui</button>
        </div>
    </header>

    <main id="content">
        <div class="confirmar-compra">
            <h2>Compra realizada com sucesso!</h2>
            <div class="produto-descricao">
                <h4>Parabéns, sua compra será enviada para a sua base, lembre-se o caminho para o sucesso é trilhado por você!</h3>
            </div>
            <div class="botoes-compra-sucesso">
                <form action="{% url 'homepage' %}" method="GET">
                    {% csrf_token %}
                    <button class="btn-voltar" type="submit">Voltar ao Inicio</button>
                </form>

                <form action="{% url 'produtos' %}" method="GET">
                    {% csrf_token %}
                    <button class="btn-finalizar" type="submit">Continuar Comprando</button>
                </form>
            </div>
        </div>
    </main>
</body>

{% endblock %}
